@font-face {
  font-family: poppins-regular;
  src: url(../public/asset/fonts/poppins/Poppins-Regular.ttf);
}
:root{
  --primaryColor:#E94339;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins-regular;
}
a{
  all: initial;
  font-family: inherit;
}